body{
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}

.arrow{
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightArrow{
  width: 60px;
  height: 60px;
}

#leftArrow{
  width: 60px;
  height: 60px;
  transform: scaleX(-1);
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#currentImage{
  height: clamp(18rem, 26rem, 34rem);
  width: clamp(18rem, 26rem, 34rem);
}

#imageFrame{
  height: clamp(18rem, 26rem, 34rem);
  width: clamp(18rem, 26rem, 34rem);
  border: 2px solid black;
}

.imageCounter{
  width: 100vw;
  height: 8rem;
}